<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cctang.springcloud.dao.PaymentDao">
    <insert id="create" parameterType="Payment" useGeneratedKeys="true" keyProperty="id">
        insert into payment(serial) values (#{serial})
    </insert>
    <resultMap id="BaseResultMap" type="Payment">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <id column="serial" property="serial" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getPaymentId" parameterType="Long" resultMap="BaseResultMap">
        select * from payment where id=#{id};
    </select>

    <select id="getAllPayments"  resultMap="BaseResultMap">
        select * from payment;
    </select>

    <delete id="delPayment" parameterType="Long">
        delete from payment where id = #{id};
    </delete>

    <update id="updatePayment" parameterType="Payment" useGeneratedKeys="true" keyProperty="id">
        UPDATE payment SET serial=#{serial} WHERE id=#{id}
    </update>

</mapper>